<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466121099458-pvg98ur6g34o4go8gellfji4vosb9elv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466121099458-pvg98ur6g34o4go8gellfji4vosb9elv</string>
	<key>API_KEY</key>
	<string>AIzaSyBYPPTM7q5lX8JcYfkOSeO7up_8otPgjNE</string>
	<key>GCM_SENDER_ID</key>
	<string>466121099458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kirill-Anisimov.ShopApp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-6500b</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-6500b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466121099458:ios:e28b9b1cde2dadcf99535b</string>
	<key>DATABASE_URL</key>
	<string>https://shopapp-6500b.firebaseio.com</string>
</dict>
</plist>